body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* App ------------------------------------------*/

.App {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* navBar --------------------------------------*/

.navBar {
  display: flex;
  justify-content: space-around;
  background-color: #9cba40;
  height: 6vh;
  width: 100vw;
  margin: 0px;
}

.navBar h3 {
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
  
}

.navBar ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  list-style: none;

}

.navBar a {
  color: black;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}


/* cartWinget ------------------------------------*/

.cartWidget {
  
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cartIcon {
  height: 30px;
}


/* itemListContainer  ------------------------------*/

.itemListContainer  {
  margin: 0px;
  padding: 0px; 
  height: 94vh;
  width: 100%;
  background-color: #dcf1d5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemListContainer h1 {
  margin: 0px;
  padding: 0px; 
  height: 5vh;
  width: 100%;
 background-color: #dcf1d5; 
 align-self: flex-start;
 position:absolute;
 display: flex;
 justify-content: center;
 align-items: center;
 
}


/* ItemList  ---------------------------------------*/
.itemList {
  background-color: #dcf1d5; 
  width: 100vw;
  height: 94vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

/* Items  -----------------------------------------*/
.item {
  background-color: #9cba40;
  border-radius: 5%;
  height: 200px;
  width: 150px;
}


/* QuantityButton  ------------------------------*/

.itemCountControls {
  height: 25px;
  width: 150px;
  background-color: white;
  box-shadow: 0px 0px 6px #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}